@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'lemonmilk';
    src: url('../assets/Fonts/lemon_milk/LEMONMILK-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'lemonmilk';
    src: url('../assets/Fonts/lemon_milk/LEMONMILK-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'lemonmilk';
    src: url('../assets/Fonts/lemon_milk/LEMONMILK-Bold.otf') format('opentype');
    font-weight: 700;
}

/* Font for timer */
@font-face {
    font-family: 'Bahnschrift';
    src: url('../assets/Fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF') format('truetype');
}

body,html{
    width: 100%;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

@keyframes fade-anim{
    0%{
        opacity:0;
        transform: translateX(-5%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }

}

.swiper-pagination-bullet{
    background-color: white !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background-color: #E50914 !important;
    opacity: 1 !important;
}
