@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

section.sponsor {
    width:100%;
    background-image: url(assets/Sponsors/spn_bg.webp);
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/Sponsors/spn_bg.webp'); */
    background-size: cover;
    background-position: center center;
    padding: 5rem 3rem 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    
}


h3.sponsor-con-h1,h3.partner-con-h1,h3.media-partner-con-h1  {
    color: #E8E8E8;
    text-align: center;
    font-family: Inter;
    font-size:  1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0.08438rem;
    margin-bottom: 1rem;
    
}

 h2.sponsor-con-h2, h2.partner-con-h2,h2.media-partner-con-h2 {
    color: #E50914;
    text-align: center;
    font-family: Inter;
    font-size: 3.508rem;
    font-style: normal;
    font-weight: 800;
    line-height: auto;
    letter-spacing: 0.12188rem;
    margin-bottom: 1.8rem;
    
} 
 
/*  */









p.sponsor-con-text,p.partner-con-text,p.media-partner-con-text {
    color: #E8E8E8;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.05625rem;
    margin-bottom: 4rem;
    padding: 0rem 3rem;
}

div.sponsor-image-container,div.partner-image-container,div.media-partner-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.16rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

div.sponsor-image-wrapper,div.partner-image-wrapper,div.media-partner-image-wrapper {
    width: 7.87081rem;
    height: 5.482125rem;
    flex-shrink: 0;
    border-radius: 0.38894rem;
    background: #FFF;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.sponsor-image-wrapper > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
}

img.sponsor-image,img.partner-image,img.media-partner-image {
    display: block;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain; 
}


@media screen and (max-width: 1160px) and (min-width: 601px){
    section.sponsor{
        padding: 3rem 2rem;
    }
    
    h3.sponsor-con-h1,h3.partner-con-h1,h3.media-partner-con-h1 {
        font-size:  1.575rem;
    }
    h2.sponsor-con-h2, h2.partner-con-h2,h2.media-partner-con-h2{
        font-size: 2.508rem;
    }
    
    p.sponsor-con-text,p.partner-con-text,p.media-partner-con-text{
        font-size: 1.05rem;
    }
    

    
}

@media screen and (max-width: 600px){
    section.sponsor{
        padding: 3rem 2rem;
        background-size: contain;
    }
    
    h3.sponsor-con-h1,h3.partner-con-h1,h3.media-partner-con-h1 {
        font-size:  1.175rem;
        margin-bottom: 0.6rem;
    }
    h2.sponsor-con-h2, h2.partner-con-h2,h2.media-partner-con-h2{
        font-size: 2.08rem;
        margin-bottom: 1.3rem;
        line-height: 2.5rem;
    }
    
    p.sponsor-con-text,p.partner-con-text,p.media-partner-con-text{
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }
    div.sponsor-image-wrapper,div.partner-image-wrapper,div.media-partner-image-wrapper{
        width: 5.87081rem;
        height: 4.482125rem;
    }
    div.sponsor-image-container,div.partner-image-container,div.media-partner-image-container {
        gap: 0.85rem;
    }

    
}


@media screen and (max-width: 450px){
    section.sponsor{
        padding: 3rem 1rem;
    }
    
    h3.sponsor-con-h1,h3.partner-con-h1,h3.media-partner-con-h1 {
        font-size:  1.0rem;
        margin-bottom: 0.4rem;
    }
    h2.sponsor-con-h2, h2.partner-con-h2,h2.media-partner-con-h2{
        font-size: 1.65rem;
        margin-bottom: 1rem;
        line-height: 2.5rem;
    }
    
    p.sponsor-con-text,p.partner-con-text,p.media-partner-con-text{
        font-size: 0.55rem;
        margin-bottom: 2rem;
        padding: 0rem 1rem;
    }
    
    
    div.sponsor-image-wrapper,div.partner-image-wrapper,div.media-partner-image-wrapper{
        width: 4.87081rem;
        height: 3.482125rem;
    }
    div.sponsor-image-container,div.partner-image-container,div.media-partner-image-container {
        gap: 0.85rem;
    }

    
}


/* CO-TITLE SPN */

#Co-title-spn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
 
    gap: 3rem;
    padding: 4rem;
    
}

.co-title-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    h1{
        font-size: 2.7rem;
    }

}
.co-logo{
    background-image: url(./assets/Sail_logo.jpg);
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 50%;
   
    
}

.co-title-text{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    
    p{
        font-size: 1.1rem;
        text-align: center;
    }
}



