@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.join-title-sponsor {
    background: black;
    backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 4rem;
    position: relative;
    z-index: -1;
}

.join-title-sponsor-content {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
    gap: 5rem;
    
}

@media (max-width:950px) {
    .join-title-sponsor-content {
        justify-content: space-between;
    }
}

.title-sponsor-content {
    width: 60%;
}

.title-sponsor-content-head {
    color: linear-gradient(to right, #501619, var(--primary), #7F050B);
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.08438rem;
}

.title-sponsor-content-con {
    margin-top: 2rem;
    color: white;
    text-align: justify;
    
    font-size: 1.1rem;
    min-width: 60%;
    
    
    letter-spacing: 0.04313rem;
    margin-bottom: 2rem;
    font-family: Inter;
}

.title-sponsor-content-know {
    color: #ff0000;
    margin-top: 2rem;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

.title-sponsor-logo {
    /* width: max-content; */
    display: flex;
    justify-content: center;
    align-items: center;
}
img#lo {
    height: 7rem;
    width: auto;
}

.swiper-wrapper-co{
    overflow-x: visible;
}

.swiper-2{
    width: 80%;
    height: 30rem;
}

.swiper-slide-co {
    display: flex;
    justify-content: center;
}


#join-the-event {
    background: url("../assets/Assets2/neom-sqG2iXx6f2k-unsplash\ 1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

#join-grid {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    position: relative;
}

/* .join-opa {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
} */


.swiper-slide-co {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1070px){
    img#lo {
        height: 5rem;
        width: auto;
    }
    

}


@media screen and (max-width: 950px) {
    #speak-las{
        transform: translateX(58%);
    }
     #grid-las{
        transform: translateX(58%);
     }
    /* .join-grid-items,
    .join-speakers-grid-items {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    } */

    .join-title-sponsor-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }
    .title-sponsor-content {
        width: 90%;
        text-align: center;
    }
    .title-sponsor-content-head{
        text-align: center;
        font-size: 2.25rem;
    }
    .title-sponsor-content-know{
        align-self: center;
    }
    .title-sponsor-content-con{
        font-size: 0.9rem;
    }
    .join-title-sponsor{
        padding: 0rem 2rem;
    }

}

@media screen and (max-width: 768px){
    .title-sponsor-content-con{
        font-size: 0.8rem;
    }
    .title-sponsor-content-head{
        text-align: center;
        font-size: 1.55rem;
    }
    img#lo {
        height: 5rem;
        width: auto;
    }

}

@media screen and (max-width: 600px) {



    .title-sponsor-logo {
        width: 80%;
    }

    .title-sponsor-content-con{
        font-size: 0.8rem;
    }
    .title-sponsor-content-head{
        text-align: center;
        font-size: 1.25rem;
    }
    img#lo {
        height: 3rem;
        width: auto;
    }

   


}

@media screen and (max-width: 450) {



    .title-sponsor-logo {
        width: 80%;
    }

    .title-sponsor-content-con{
        font-size: 0.7rem;
    }
    .title-sponsor-content-head{
        text-align: center;
        font-size: 1.05rem;
    }
    img#lo {
        height: 2rem;
        width: auto;
    }

   

}
.swiper-slide-co {
    margin-right: 0px !important;
}